// Fontes
$fontePrincipal: "Roboto", sans-serif;

// Cores
$corDeFundo:#f5f6fa;
$corDoCabecalho: #182C61;
$corDoLinkEDoBotao: #fff;
$corVerdeDoBotao: #44bd32;
$corVerdeClaroDoBotao: #4cd137;

// Breaking Points
$celular: 767px;
$tablet: 1023px;